#construction{
    font-size: 50px;
    text-align: center;
    color: deeppink;
    font-weight:bolder;
    font-family:sans-serif;
}

html{
    background-color: burlywood;
    
}
body{
    margin: auto;
    background-image: url(/images/moonwithBird.PNG);
    background-size: cover;
    background-position: center;
    min-height:  1000px;
}

#header{
    background-color: black;
    color: white;
    font-size: 50px;
    margin-top: -50px;
}


#header ul{
    display: block;
    list-style: none;
    text-align: center;
    
}

#header ul li{
    display: inline;
    list-style: none;
    margin-left: 10px;
    
}

#header ul li a{
    color: wheat;
    text-decoration: none;
    list-style: none;
}
#header ul>li:hover a{
    color: black;
    text-decoration: none;
    list-style: none;
    background-color : wheat;
    padding: 1px 0 1px 0;
}




/*Start modifying Sidebar*/
#side{
    display: block;
    width: ;
    min-width: ;
    float: leftg;
    clear: rightf;
    position: relative;
}


#side ul{
    display: block;
    float: leftf;
    margin-top: 0;
    padding: 0;
    background-color:brown;
    list-style:decimal;
    width: ;
    text-align: center;
    margin: 0;

}
#side ul li{
    display: inline;
    list-style: none;
    margin-bottom: 5px;
    padding: 5px;
    border-left: 10px groove white;
}

#side ul li a{
    color:bisque;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
}

#side ul li:hover{
    display: inline;
    list-style: none;
    margin-bottom: 5px;
    padding: 5px;
    border-left: 10px groove white;
    background-color: wheat;
    color: black;
}

#side ul li:hover a{

    color: black;
}



/*Style the stories content*/
#content{
    background-color:bisque;
    width: 70%;
    float: rightc;
    display: block;
    margin-right: 40px;
    border: 15px ridge red;
    opacity: .7;
}


#content .title{
    font-size: 25px;
    font-weight: 900;
    font-family:monospace;
}
#content p{
    font-size: 20px;
}